@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";

//change primary variables here.

@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

//add custom css here.
//$notification-radius: 10px;


@import "../../../node_modules/bulma/bulma.sass";

//@import "../../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css";

//@import url('https://fonts.googleapis.com/css?family=Muli|Convergence');
//
//.navbar{
//  font-family: 'Convergence', sans-serif;
//}

.is-transparent {
  background: none;
}

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('/static/img/background-2.jpg');
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
